body {
  background-color: #e5e9f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  padding: 8px;
  text-align: center;
  background: #d8dee9;
  color: rgb(16, 16, 16);
  
}

.header p {
  margin: 16px 0;
  font-weight: 700;
  font-size: 2rem;
  overflow: auto;
  
}

.container {
  display: inline-flex;
  height: 100vh;
  width: 100%;
}

.side-nav {
  display: flex;
  flex-direction: column;
  width: 12%;
  /* height: 100vh; */
  position: relative;
  padding: 30px;
  border-right-style: groove;
}

.data-area {
  width: 100%;
  padding: 16px;
  overflow: hidden;
}

.table-head {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  color: #FF0000;
  text-align: center;
  /* text-decoration: underline; */
  margin-top: 0px;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter .table-info {
  max-width: 50%;
  flex: 0 0 50%;

}

.filter .table-info p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  position: relative;
  margin: 0px;
}

.filter .search {
  max-width: 50%;
  flex: 0 0 50%;
  text-align: right;
}

.filter label {
  width: auto;
  font-weight: 800;
}


.filter input {
  height: 24px;
  display: inline-block;
  margin-left: 10px;
  right: 1rem;
  border: 2px solid black;
  border-radius: 5px;
}

.filter input:hover{
  box-shadow: 5px 5px 10px #8a79ec;
  transition: 400ms;
}

.filter .table-info h1 {
  margin: 0px;
}

.table-area {
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow: hidden;
  border: 2px solid #d8dee9;
}

tbody{
  background-color: #8a79ec;
  white-space: 0px;
  word-spacing: 0px;
  margin: 0px;
  border-spacing: 0px;
}


.table-area thead th{
  font-size: 14px;
  background-color: bisque;
  /* border: 2px solid red; */
  border-bottom-style: groove;
}

.table-area tbody td {
  /* border: 2px solid darkgreen; */
  font-size: 14px;
  text-align: center;

}

.side-nav button {
  width: 100%;
  background-color: #e5e9f0;
  position: relative;
  border: 2px solid blueviolet;
  padding: 15px 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 16px;
  margin: 8px auto;
  border-radius: 5px;
  overflow-x: auto;
}

button:hover {
  background-color: rgb(125, 58, 58);
  transition: 500ms;
}

footer {
  height: 70px;
  padding: 30px;
  background-color: #d8dee9;
  position: static;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.footer-items li {

  margin-right: 40px;
  list-style: none;
  border: 2px solid blueviolet;
  border-radius:5px;
}

.footer-items li:last-child {
  margin-right: 0px;
}

.foot-info {
  width: 100%;
  margin-top: 0px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FF0000;

}