body {
  font-family: Calibri, Helvetica, sans-serif;
  margin: 0px;

}


#login-btn {
  margin: 10px 0px;
  border: none;
  padding: 15px;
  color: white;
  background-color: black;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 2px solid blueviolet;
  font-size: 1rem;
  text-align: center;
}

form {
  margin: 0px auto;
}

input[type=text],
input[type=password] {
  width: 100%;
  height: 24px;
  margin: 10px auto;
  padding: 20px;
  font-size: 20px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

#login-btn:hover,
#cancel-btn:hover {
  cursor: pointer;
  transition: 500ms;
  background: maroon;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 30px;
  margin: 10px auto;
  height: max-content;
  overflow: auto;
  border-style: groove;
  border-radius: 8px;

}

.container img {
  height: 80px;
  width: 80px;
}


.container p {
  font-size: 24px;
  text-align: center;
  /* text-decoration: underline; */
  width: 100%;
  margin: 16px auto;
}


#forgot-btn {
  font-size: 18px;
  text-align: center;
}

#cancel-btn {
  color: white;
  background-color: black;
  font-size: 1rem;
  width: auto;
  padding: 10px 18px;
  margin: 10px 0px;
  border: 2px solid blueviolet;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}